---
import Indice2 from "./Indice2.astro";
const { miniatures} = Astro.props;

---

<div class="carrousel">
    
    <div class="galery">
        <div class="carrousel-container">
            
        {miniatures.map( (pagina)=>
        
                <div class="container-image-carrousel">
        
                    <img
                    class="miniature-news-carrousel"
                    width="320"
                    height="180"
                    src={pagina.recorte}
                    alt=""
                    />
                    
                </div>
                <div class="container-image-carrousel">
                    
                <img
                class="miniature-news-carrousel"
                width="320"
                height="180"
                src={pagina.contexto}
                alt=""
                />
                </div>
                )}
                <!-- <div id="image-container" class="container-image-carrousel">
        
                <img
                class="miniature-news-carrousel"
                width="320"
                height="180"
                src={miniatures[0].recorte}
                alt=""
                />
                
            </div> -->
                </div>
                <div class="carrousel-cerrar">cerrar</div>
                <div class="indice">

                    <Indice2 miniatures={miniatures} padre="index-carrousel"/>
                </div>
    </div>
</div>

<style>
    .carrousel{
        z-index: -1;
		position: fixed;
        opacity: 0;
        pointer-events: none;
        background-color: rgba(0, 0, 0, 0.781);
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    transition:1s;
	}
    @keyframes example {
    0%   {z-index: -1;}
    1%  {z-index: 20;opacity: 0;}
    100% {opacity: 1;z-index: 20;}
    }
    .active-carrousel{
        animation-name: example;
        animation-fill-mode: forwards;
        animation-duration: 1s;
        pointer-events: all;
    }
    .over-carrousel{
        animation-name: example2;
        animation-duration: 1s;
    }
    @keyframes example2 {
    0%   {z-index: 20;opacity: 1;}
    99%  {z-index: 20;opacity: 0;}
    100% {opacity: 0;z-index: -1;}
    }
    .galery{
        height: fit-content;
        display: grid;
    grid-template-columns: 3fr 1fr;
    }
    .carrousel-container {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 5;
    display: grid;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    flex-direction: row;
}
.indice{
    grid-row-start: 1;
    grid-column-end: 3;
    height: fit-content;
    margin: auto 0;
    max-width: 166px;
    justify-self: right;
}
.carrousel-cerrar{
    z-index: 99;
    grid-column-end: 3;
    grid-row-start: 1;
    justify-self: right;
    margin-right: 30px;
}
.container-image-carrousel{
    overflow-y: scroll;
    display: grid;
    opacity: 0;
    pointer-events: none;
    justify-items: center;
    grid-row-start: 1;
    grid-column-start: 1;
			width: 100%;
			height:auto;
            max-height: 100vh;
            transition:1s;
            padding-bottom: 100px;
		}
        .active-container-image-carrousel{
            opacity: 1;
            pointer-events: all;
        }
        .miniature-news-carrousel{
		filter: contrast(0.9);
        width: min-content;
			max-width: 100%;
			display:flex ;
			height: fit-content;
			max-height: max-content;
            
	}
    .indice{
            z-index: 999;
            position: relative;
        }
        @media print{
            .carrousel{
                background-color: white;
                position: relative;
                height: fit-content;
                opacity: 1;
                z-index: 20;
                page-break-before: always;
            }
            
            .carrousel-container{
                height: fit-content;
                page-break-before: always;
            }
            
            .container-image-carrousel{
                page-break-before: always;
            overflow: hidden;
            grid-row-start: auto;
            grid-row-end: auto;
            grid-column-start: auto;
            grid-column-end: auto;
			width: fit-content;
			max-width: 100%;
			display:flex ;
			min-height: 100vh;
			height: 100vh;
			max-height: 100vh;
            opacity: 1;
            padding-bottom: 0;
		}
        .miniature-news-carrousel {
			filter: contrast(1);
			width: auto;
			max-width: 100%;
			display:flex ;
			height: fit-content;
			max-height: 100vh;
		}
        .indice{
            display: none;
        }
            
    }
    
</style>
<script is:inline>
    




</script>