---
const { miniatures, padre} = Astro.props;
---
<div class={"hidden-pdf "+ padre}>
<div class="index-pag2">
    Página:
    {miniatures.map( (pagina, i) =>
    <div class={"number-page2 " + pagina.pagina + (i == 0 ? " active-page":"")}>{pagina.pagina}</div>
    )}
     
</div>
<div class="miniature-index2">
    
    {miniatures.map( (pagina, i)=>
        
        <div class={'miniature-container2 start1 '+ pagina.pagina + (i == 0 ? " active-page-container":"")  }>
            <div class="container-image2">
                <img
                class="miniature-news2"
                width="320"
                height="180"
                src={pagina.recorte}
                alt=""
                />
                
            </div>
            <div class="container-image2">
                
            <img
            class="miniature-news2"
            width="320"
            height="180"
            src={pagina.contexto}
            alt=""
            />
            </div>
        </div>
    )}
</div>
</div>

<style>
    .active-page{
        color: white;
        background-color: #171717;
    }
    .index-pag2{
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    .miniature-index2{
			display: grid;
			grid-template-columns: 100%;
			height: fit-content;
		}
		.miniature-container2{
			display: flex;
			flex-wrap: wrap;
			opacity: 0;
            pointer-events: none;
			gap: 13px;
			width: 100%;
			flex-direction: row;
            transition: 1s;
            height: fit-content;
		}
        .active-page-container{
            opacity: 1;
            pointer-events: all;
        }
        .active-miniature{
            border: 1px solid red;
        }
		.container-image2{
			display: flex;
			width: fit-content;
			height:auto;
		}
        .miniature-news2 {
		filter: contrast(0.9);
		width: auto;
		height: fit-content;
        max-width: 120px;
        max-height: 217px;
        }
        
        @media print {
            .container-image2-carrousel{
                opacity: 1;
            } 
        }
		
</style>

<script is:inline>
    

    // let cerrarcarrousel = document.querySelectorAll('.cerrado-global-carrousel')
    // cerrarcarrousel.forEach((item)=>{
    //     item.addEventListener('click', event => {
    // event.preventDefault()
    //     carrousel.classList.add("over-carrousel")
    //     carrousel.classList.remove("active-carrousel")
    //     carrouselimage[activesuplement].classList.remove("active-container-image-carrousel")
    // })

    //})
   
    
    
    // function activation() {pages.forEach((item,i) => {
    //     if (item.classList.contains( 'active-page' )) {
            
            
    //         activepage = i
    //         console.log(i)
    //             }
    //         })
    //     }
    //     activation() 
    let containers2 = document.querySelector('.index-carrousel').querySelectorAll(".miniature-container2")
    let pages2 = document.querySelectorAll('.number-page2')
    pages2.forEach((item,i) => {
        item.addEventListener('click', event => {
            
            pages[activepage].classList.remove("active-page")
            pages2[activepage].classList.remove("active-page")
            containers[activepage].classList.remove("active-page-container")
            containers2[activepage].classList.remove("active-page-container")
            pages[i].classList.add("active-page")
            pages2[i].classList.add("active-page")
            containers[i].classList.add("active-page-container")
            containers2[i].classList.add("active-page-container")
            activepage = i
            console.log(carrousel)
            
        })
    })

    
    let miniatures2 = document.querySelector('.index-carrousel').querySelectorAll(".container-image2")
    console.log()
    miniatures2.forEach((item,i) => {
        item.addEventListener('click', event => {
            miniatures2[activesuplement].classList.remove("active-miniature")
           item.classList.add("active-miniature")
            carrouselimage[activesuplement].classList.remove("active-container-image-carrousel")
           carrouselimage[i].classList.add("active-container-image-carrousel")
           activesuplement = i
            
        })
    })


    let suplements = document.querySelectorAll('.container-image2-carrousel')
    suplements.forEach((item,i) => {
        item.addEventListener('click', event => {
            
        })
    })
</script>