---
const { miniatures, padre} = Astro.props;
---
<div class={"hidden-pdf "+ padre}>
<div class="index-pag2">
    Página:
    <div class="index-container2">

        {miniatures.map( (pagina, i) =>
    <div data-pagina={i} class={"number-page2 "  + (i == 0 ? " active-page":"")}>{pagina.pagina}</div>
    )}
    </div>
     
</div>
<div class="miniature-index2">
    
    {miniatures.map( (pagina, i)=>
        
        <div class={'miniature-container2 start1 ' + (i == 0 ? " active-page-container":"")  }>
            <div class="container-image2">
                <img
                data-pagina={i+i}
                class="miniature-news2"
                width="320"
                height="180"
                src={pagina.recorte}
                alt=""
                />
                
            </div>
            <div class="container-image2">
                
            <img
            data-pagina={i+i+1}
            class="miniature-news2"
            width="320"
            height="180"
            src={pagina.contexto}
            alt=""
            />
            </div>
        </div>
    )}
</div>
</div>

<style>
    .active-page{
        color: white;
        background-color: #171717;
    }
    .index-pag2{
        display: flex;
        flex-direction: column;
        gap: 10px;
        color: white;
    }
    .miniature-index2{
			display: grid;
			grid-template-columns: 100%;
			height: fit-content;
		}
		.miniature-container2{
			display: flex;
			flex-wrap: wrap;
			opacity: 0;
            pointer-events: none;
			gap: 13px;
			width: 100%;
			flex-direction: row;
            transition: 1s;
            height: fit-content;
		}
        .active-page-container{
            opacity: 1;
            pointer-events: all;
        }
        .active-miniature{
            border: 3px solid red;
        }
		.container-image2{
			display: flex;
			width: fit-content;
			height:auto;
            cursor: pointer;
		}
        .miniature-news2 {
		filter: contrast(0.9);
		width: auto;
		height: fit-content;
        max-width: 100%;
        max-height: 217px;
        }
        
    .number-page2{
            height: 38px;
            width: 38px;
            display: grid;
            place-content: center;
            background-color: #373737;
            border-radius: 50%;
            cursor: pointer;
        }
        .index-pag2 .active-page{
            background-color: #ffffff;
            color: #000000;
        }
        .index-container2{
        flex-wrap: wrap;
        display: flex;
        flex-direction: row;
        gap: 5px;
        margin-bottom: 10px;
    }
        
        @media print {
            .container-image2-carrousel{
                opacity: 1;
            } 
        }
		
</style>

