---
const { miniatures} = Astro.props;
---
<div class="index-pag hidden-pdf">
    Página:
    {miniatures.map( (pagina, i) =>
    <div class={"number-page " + pagina.pagina + (i == 0 ? " active-page":"")}>{pagina.pagina}</div>
    )}
     
</div>
<div class="miniature-index">
    
    {miniatures.map( (pagina, i)=>
        
        <div class={'miniature-container start1 '+ pagina.pagina + (i == 0 ? " active-page-container":"")  }>
            <div class="container-image">
                <img
                class="miniature-news"
                width="320"
                height="180"
                src={pagina.recorte}
                alt=""
                />
                
            </div>
            <div class="container-image">
                
            <img
            class="miniature-news"
            width="320"
            height="180"
            src={pagina.contexto}
            alt=""
            />
            </div>
        </div>
    )}
</div>

<style>
    .active-page{
        color: white;
        background-color: #171717;
    }
    .index-pag{
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    .miniature-index{
			display: grid;
			grid-template-columns: 100%;
			height: fit-content;
		}
		.miniature-container{
			display: flex;
			flex-wrap: wrap;
			opacity: 0;
            pointer-events: none;
			gap: 13px;
			width: 100%;
			flex-direction: row;
		}
        .active-page-container{
            opacity: 1;
            pointer-events: all;
        }
        .active-miniature{
            border: 1px solid red;
        }
		.container-image{
			display: flex;
			width: fit-content;
			height:auto;
		}
        .miniature-news {
		filter: contrast(0.9);
		width: auto;
		height: fit-content;
        max-width: 120px;
        max-height: 217px;
        }
        @media print {
            .container-image-carrousel{
                opacity: 1;
            } 
        }
		
</style>

<script>
    let carrousel = document.querySelector('.carrousel');
    let carrouselimage = document.querySelectorAll('.container-image-carrousel');
    let activepage = 0
    let pages = document.querySelectorAll('.number-page')

    let containers = document.querySelectorAll('.miniature-container')
    pages.forEach((item,i) => {
        item.addEventListener('click', event => {
            pages[activepage].classList.remove("active-page")
            containers[activepage].classList.remove("active-page-container")
            pages[i].classList.add("active-page")
            containers[i].classList.add("active-page-container")
            activepage = i
            console.log(carrousel)
            
        })
    })

    let activesuplement = 0
    let miniatures = document.querySelectorAll('.container-image')
    miniatures.forEach((item,i) => {
        item.addEventListener('click', event => {
            miniatures[activesuplement].classList.remove("active-miniature")
           item.classList.add("active-miniature")
           activesuplement = i
           carrousel.classList.add("active-carrousel")
           carrouselimage[i].classList.add("active-container-image-carrousel")

        })
    })


    let suplements = document.querySelectorAll('.container-image-carrousel')
    suplements.forEach((item,i) => {
        item.addEventListener('click', event => {
            
        })
    })
</script>