---
const { miniatures} = Astro.props;
---
<div class="index-pag hidden-pdf">
    Página:
    {miniatures.map( (pagina, i) =>
    <div class={"number-page " + pagina.pagina + (i == 0 ? " active-page":"")}>{pagina.pagina}</div>
    )}
     
</div>
<div class="miniature-index">
    
    {miniatures.map( (pagina, i)=>
        
        <div class={'miniature-container start1 '+ pagina.pagina + (i == 0 ? " active-page-container":"")  }>
            <div class="container-image">
                <img
                class="miniature-news"
                width="320"
                height="180"
                src={pagina.recorte}
                alt=""
                />
                
            </div>
            <div class="container-image">
                
            <img
            class="miniature-news"
            width="320"
            height="180"
            src={pagina.contexto}
            alt=""
            />
            </div>
        </div>
    )}
</div>

<style>
    .active-page{
        color: white;
        background-color: #171717;
    }
    .index-pag{
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    .miniature-index{
			display: grid;
			grid-template-columns: 100%;
			height: fit-content;
		}
		.miniature-container{
			display: flex;
			flex-wrap: wrap;
			opacity: 0;
            pointer-events: none;
			gap: 13px;
			width: 100%;
			flex-direction: row;
		}
        .active-page-container{
            opacity: 1;
            pointer-events: all;
        }
		.container-image{
			display: flex;
			width: fit-content;
			height:auto;
		}
        .miniature-news {
		filter: contrast(0.9);
		width: auto;
		height: fit-content;
        max-width: 120px;
        max-height: 217px;
        }
		
</style>

<script is:inline>
    let activepagina = 0
    let paginas = document.querySelectorAll('.number-page')
    let contenedores = document.querySelectorAll('.miniature-container')
    paginas.forEach((item,i) => {
  item.addEventListener('click', event => {
    console.log(i)
    paginas[activepagina].classList.remove("active-page")
    contenedores[activepagina].classList.remove("active-page-container")
    paginas[i].classList.add("active-page")
    contenedores[i].classList.add("active-page-container")
    activepagina = i
  })
})
</script>