---
const { miniatures} = Astro.props;
---
<div id="Index" class="index-pag hidden-pdf">
    Página:
    {miniatures.map( (pagina, i) =>
    <div>{pagina.pagina}</div>
    )}
     
</div>
<div class="miniature-index">
    
    {miniatures.map( (pagina, i)=>
        
        <div id={i+1} class="miniature-container start1">
            <div class="container-image">
                <img
                class="miniature-news"
                width="320"
                height="180"
                src={pagina.recorte}
                alt=""
                />
                
            </div>
            <div class="container-image">
                
            <img
            class="miniature-news"
            width="320"
            height="180"
            src={pagina.contexto}
            alt=""
            />
            </div>
        </div>
    )}
</div>

<style>
    .index-pag{
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    .miniature-index{
			display: grid;
			grid-template-columns: 100%;
			height: fit-content;
		}
		.miniature-container{
			display: flex;
			flex-wrap: wrap;
			
			gap: 13px;
			width: 100%;
			flex-direction: row;
		}
		.container-image{
			display: flex;
			width: fit-content;
			height:auto;
		}
        .miniature-news {
		filter: contrast(0.9);
		width: auto;
		height: fit-content;
        max-width: 120px;
        max-height: 217px;
        }
		
</style>

<script is:inline>
    let indice = document.getElementById('Index');
    indice.addEventListener("mousedown", (event) => {
        console.log("k")
    });
</script>