---
const { miniatures} = Astro.props;
---
<div class="index-pag hidden-pdf">
    Página: 1 2 3
</div>
<div class="miniature-index">
    
    {miniatures.map( (pagina)=>
        
        <div class="miniature-container start1">
            <div class="container-image">
                <img
                class="miniature-news"
                width="320"
                height="180"
                src={pagina.recorte}
                alt=""
                />
                
            </div>
            <div class="container-image">
                
            <img
            class="miniature-news"
            width="320"
            height="180"
            src={pagina.contexto}
            alt=""
            />
            </div>
        </div>
    )}
</div>