<div class="miniature-index">
    <div class="miniature-container">
        <div style="width: auto;height:auto;">

            <img
            class="miniature-news"
            width="320"
            height="180"
            src="img/diario1.jpg"
            alt=""
            />
            
        </div>
        <div style="width: auto;height:auto;">
        <img
        class="miniature-news"
        width="320"
        height="180"
        src="img/diario2.jpg"
        alt=""
        />
        </div>
    </div>
</div>