---
interface Props {
	title: string;
	props: {string};
}

const { post , title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={post.cachetxt} />
		<meta name="viewport" content="width=device-width" />
		<meta content='https://discordapp.com/assets/ba74954dde74ff40a32ff58069e78c36.png' property='og:image'>
		<!-- <meta property="og:image:width" content="320" />
		<meta property="og:image:height" content="180" /> -->
		<link rel="icon" href="img/icon.svg" type="image/svg+xml" />
		<link rel="preload" as="image" href="img/izimedia2.svg" type="image/svg+xml" />
		{ post.tipo === 1 && 
			<link rel="preload" href="assets/w10.woff2" as="font" type="font/woff2" crossorigin />
		
		<link rel="preload" href="assets/Utopia.ttf" as="font" type="font/woff2" crossorigin />
		<style>
			@font-face {
			font-family: "Acta W01 Medium";
			font-style: normal;
			font-weight: 500;
			font-display: swap;
			src: url("../assets/w10.woff2") format("woff2");
			}
			@font-face {
			font-family: Utopia;
			font-style: normal;
			font-weight: 500;
			font-display: swap;
			src: url("../assets/Utopia.ttf") format("woff2");
			}
			</style>
		}
		<link rel="preload" href="https://fonts.gstatic.com/s/raleway/v28/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVsEpbCIPrE.woff2" as="font" type="font/woff2" crossorigin
		/>
		<link rel="preload" href="https://fonts.gstatic.com/s/opensans/v35/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjr0B4gaVI.woff2" as="font" type="font/woff2" crossorigin/>
		<link rel="preload" href="https://fonts.gstatic.com/s/nunitosans/v15/pe0TMImSLYBIv1o4X1M8ce2xCx3yop4tQpF_MeTm0lfUVwoNnq4CLz0_upHZPYsZ51Q42ptCprt1R-s.woff2" as="font" type="font/woff2" crossorigin/>
		<link rel="preload" href="https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCuM73w5aXo.woff2" as="font" type="font/woff2" crossorigin/>

		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	@font-face {
		font-family: "Raleway";
		font-style: normal;
		font-weight: 600;
		font-display: swap;
		src: url(https://fonts.gstatic.com/s/raleway/v28/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVsEpbCIPrE.woff2)
			format("woff2");
		unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
			U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC,
			U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
	}
	
	
	@font-face {
		font-family: "Nunito Sans";
		font-style: normal;
		font-weight: 400;
		font-stretch: 100%;
		font-display: swap;
		src: url(https://fonts.gstatic.com/s/nunitosans/v15/pe0TMImSLYBIv1o4X1M8ce2xCx3yop4tQpF_MeTm0lfUVwoNnq4CLz0_upHZPYsZ51Q42ptCprt1R-s.woff2)
			format("woff2");
		unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
			U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC,
			U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
	}
	@font-face {
		font-family: "Open Sans";
		font-style: normal;
		font-weight: 500;
		font-stretch: 100%;
		font-display: swap;
		src: url(https://fonts.gstatic.com/s/opensans/v35/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjr0B4gaVI.woff2)
			format("woff2");
		unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
			U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC,
			U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
	}
	@font-face {
		font-family: "Montserrat";
		font-style: normal;
		font-weight: 600;
		font-display: swap;
		src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCuM73w5aXo.woff2)
			format("woff2");
		unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
			U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC,
			U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
	}

	/* Hide scrollbar for Chrome, Safari and Opera */
	main::-webkit-scrollbar {
		width: 1px;
	}
	.columna::-webkit-scrollbar {
		width: 1px;
	}


	/* Hide scrollbar for IE, Edge and Firefox */
	.example {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		/* background: #012350; */
		background-size: 224px;
		padding: 0;
		margin: 0;
		height: 100%;
		display:flex;
		justify-content: center;
	}
	body {
		padding: 0;
		margin: 0;
		height: 100%;
		width: 100%;
		background: linear-gradient(
    to right,
    #e9ecef 0%,
    #e9ecef 50%,
    white 50%,
    white 100%
  );
  /* background: white; */
	}
	* {
		box-sizing: border-box;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	.block {
		display: block;
	}
	.printdetails {
		width: fit-content;
		display: grid;
		margin: 0 0 10px 0;
		grid-template-columns: auto auto auto;
		column-gap: 15px;
	}
	main {
		-webkit-font-smoothing: antialiased;
		display: grid;
		width: 100vw;
		grid-template-columns: 70% 30%;
		grid-template-rows: auto;
		height: 100vh;
		min-height: 100vh;
		overflow: hidden;
		position: relative;
		perspective: 738px;
		margin: auto;
		/* box-shadow: 0px -3px 3px #00000029; */
		
	}
	.footer{
		display: block;
		padding: 46px 22px 30px 22px;
		font-size: 13px;
		font-family: 'Nunito Sans';
	}
	.logo {
		width: 114px;
		height: 57px;
	}
	.izibrand {
		min-width: 197px;
		height: auto;
	}

	.izipress {
		width: 100%;
		font-family: "Open Sans";
		font-size: 11px;
		margin-top: 5px;
		margin-left: 20px;
		flex: auto;
	}
	.start1 {
		grid-row-start: 1;
		grid-column-start: 1;
	}
	.detail-layout {
		grid-row-start: 1;
		grid-column-start: 1;
		align-self: start;
		justify-self: right;
		padding: 29px 25px 26px 0;
	}
	.detail-layout2 {
		grid-row-start: 1;
		grid-column-start: 1;
		align-self: start;
		justify-self: right;
		padding: 35px 30px 35px 10px;
	}
	.abrir {
		gap: 10px;
		line-height: 22px;
	}
	.cerrar {
		gap: 10px;
		line-height: 22px;
	}
	.xs {
		display: none;
	}
	.title {
		font-family: "Raleway", math;
		font-size: 33px;
		font-weight: 600;
		padding-bottom: 30px;
	}
	.title-papel {
		font-family: "Acta W01 Medium", georgia;
		font-size: 42px;
		font-weight: 500;
		padding-bottom: 30px;
	}
	.title-video {
		font-family: "Raleway", math;
		font-size: 26px;
		font-weight: 600;
		padding-bottom: 30px;
	}
	.cachetxt {
		font-family:
			Nunito Sans,
			system-ui;
		font-size: 17px;
		font-weight: 400;
		line-height: 21px;
	}
	.cachetxt-papel {
		font-family: Utopia,Georgia,Times,serif;
    line-height: 23px;
    font-size: 17px;
    font-weight: 400;
	}

	.container {
		display: grid;
		place-items: center;
		background-color: #000000;
		margin-bottom: 20px;
		border-radius: 2px;
		overflow: hidden;
		margin-top: -10px;
		height: fit-content;
		width: 100%;
	}
	.video {
		width: 90%;
	}
	#canvas {
		width: 100%;
	}
	.radio {
		gap: 20px;
		display: grid;
		margin-bottom: 30px;
	}
	.audio-player {
		width: 100%;
	}
	.controls {
		width: 100%;
	}
	.timeline {
		width: 100%;
	}
	.columna {
		overflow: auto;
		background-color: #e6e6e6;
		background-color: #e9ecef;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		transition: transform 0.7s;
	}
	.navbar {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		-ms-flex-align: baseline;
		padding: 15px 3%;
		height: auto;
		grid-row-start: 1;
		grid-column-start: 1;
	}
	.align-center {
		align-items: center;
	}
	.columnb {
		width: 100%;
		max-width:100%;
		display: grid;
		background-color: white;
		box-shadow: -1px -3px 3px #00000029;
		height: 100vh;
		overflow-y: auto;
		z-index: 19;
		animation-timing-function: ease;
		transition: transform 0.7s, opacity 0.7s;
		
	}
	.index-sidebar{
		width: 100%;
		display: block;
	}
	.papel{
		display: block;
		flex: 1 1 0%;
	}
	.vcenter {
		align-self: center;
	}
	.pt2 {
		padding-top: 2px;
	}
	.pointer {
		cursor: pointer;
		pointer-events: all;
	}
	.detalles {
		width: 100%;
		height: auto;
		display: grid;
	}
	.items {
		width: 100%;
		height: min-content;
		min-height: 300px;
		padding: 82px 6.5% 40px 6.5%;
		font-family: "Open Sans";
		grid-row-start: 1;
		grid-column-start: 1;
		align-self: start;
	}
	.item {
		height: 35px;
		display: flex;
		align-items: center;
		gap: 10px;
	}
	.value {
		margin-left: 5px;
		margin-bottom: 1px;
		width: 12px;
		height: 18.54px;
		border-radius: 4px;
	}
	.audience {
		margin-left: 3px;
		margin-bottom: 1px;
		width: 17px;
		height: 9.06px;
		border-radius: 4px;
	}
	#url{
		width: 120px;
	}
	.rating{
		width: 18px;
		height: 24.75;
    margin-left: 2.5px;
	}
	.medium-sans {
		font-family: "Open Sans";
		font-size: 14px;
	}
	.medium-montserrat {
		font-family: Montserrat;
		font-size: 14px;
	}
	.yellow {
		color: #f4b302;
	}
	.purple {
		color: #5d0cc4;
	}
	.red {
		color: #E42E39;
	}
	.medio {
		/* min-height: 30px; */
		padding: 10px 0;
		font-family: arial;
		font-size: 18px;
		font-weight: 400;
		color: #5e94ff;
		display: flex;
		align-items: center;
		gap: 10px;
	}
	.fecha {
		padding: 10px 0;
		font-family: Montserrat;
		font-size: 13px;
		font-weight: 600;
		display: flex;
		align-items: center;
		gap: 10px;
		text-transform: uppercase;
	}
	.fecha2 {
		padding: 10px 0;
		font-family: "Open Sans";
		display: flex;
		align-items: center;
		gap: 10px;
		font-size: 14px;
	}
	.denotacion {
		padding: 10px 0;
		font-family: "Open Sans";
		font-size: 13.2px;
		display: flex;
		align-items: center;
		gap: 10px;
		min-width: 197px;
		height: fit-content;
	}
	.company {
		width: 24px;
		height: 24px;
		border-radius: 4px;
	}
	.type {
		color: #b0b0b0;
		font-family: "Open Sans";
		font-size: 14.5px;
	}
	.date {
		margin-left: 3px;
		margin-bottom: 1px;
		width: 15px;
		height: 15px;
	}
	.section {
		margin-left: 3px;
		margin-top: 2px;
		width: 17px;
	}
	.upload {
		margin-left: 3px;
		margin-bottom: 1px;
		width: 18px;
		height: 14.14px;
		border-radius: 4px;
	}
	
	.chain {
		width: 16px;
		height: 16px;
	}
	.download {
		margin-left: 3px;
		margin-bottom: 1px;
		width: 20px;
		height: 19.2px;
		border-radius: 4px;
	}
	.denotation {
	}
	.denotation0::before {
		content: url("../img/positivo.svg");
		margin-left: 3px;
		margin-bottom: 1px;
		width: 16px;
		height: 16px;
	}
	.denotation1::before {
		content: url("../img/negativo2.svg");
		margin-left: 3px;
		margin-bottom: 1px;
		width: 16px;
		height: 16px;
	}
	.denotation2::before {
		content: url("../img/neutral.svg");
		margin-left: 3px;
		margin-bottom: 1px;
		width: 16px;
		height: 16px;
	}
	.positiva {
		color: #3d8b53 !important;
	}
	.negativa {
		color: #e42e39 !important;
	}
	.neutra {
		color: #b9b9b9 !important;
	}
	.seccion {
		padding: 10px 0;
		font-family: "Open Sans";
		font-size: 14.2px;
		display: flex;
		align-items: center;
		gap: 10px;
	}
	.actions-container {
			display: flex;
			flex-wrap: wrap;
			width: 100%;
			max-width: 100%;
			row-gap: 8px;
			column-gap: 6px;
			margin-bottom: 10px;
			margin-top: 5px;
		}
		.miniature {
		width: 100%;
		height: auto;
		border: 2px solid white;
		box-shadow: 0px 0px 3px #0000005c;
		margin: 5px;
	}
	.actions {
		height: 38px;
		display: flex;
		background-color: #e6e6e6;
		border-radius: 35px;
		padding: 0 20px 0 10px;
		align-items: center;
		gap: 10px;
		font-size: 13.2px;
		cursor: pointer;
	}
	.active-url {
		color: #3d8b53;
		animation-name: url;
		animation-duration: 0;
		animation-fill-mode: forwards;
		animation-timing-function: ease-in;
	}
	@keyframes url {
		from {
			background-color: #e6e6e6;
		}
		to {
			background-color: #84c7a7;
		}
	}
	@keyframes download {
		from {
			background-color: #e6e6e6;
		}
		to {
			background-color: #1e51de;
		}
	}
	.active-download {
		color: white;
		animation-name: download;
		animation-duration: 0;
		animation-fill-mode: forwards;
		animation-timing-function: ease-in;
	}
	.descargar {
		background-color: #e6e6e6;
		width: fit-content;
		border-radius: 35px;
		padding: 10px 20px 10px 10px;
		font-family: "Open Sans";
		font-size: 13.2px;
		display: flex;
		align-items: center;
		gap: 10px;
		cursor: pointer;
	}
	.flex {
		display: flex;
	}
	.gap {
		flex-wrap: wrap;
		gap: 4px;
	}
	.hidden {
		display: none;
	}
	.visibility {
		opacity: 0;
	}
	.invisibility {
		opacity: 0;
	}
	.print-visibility {
			opacity: 0;
			display: none;
		}
	@media (min-width: 1px) and (max-width: 960px) {
		main {
			grid-template-columns: 100%;
		}
		.papel {
			padding: 0 3% 50px 3%;
		}
		.printdetails {
			display: none;
		}
		.footer{
			padding: 30px 3% 30px 3%;
		}
		.columna{
		grid-row-start: 1;
    	grid-column-start: 1;
		}
		.columnb {
			transform: translatex(100%);
			grid-row-start: 1;
    		grid-column-start: 1;
			width: 100%;
			max-width: 320px;
			opacity: 0;
			justify-self: right;
		}
		.container {
			margin-top: -5px;
		}
		.columnb.active-sidebar {
			transform: translatex(0%);
			opacity: 1;
		}
		.video {
			width: 100%;
		}
		.items {
			padding: 87px 6.5% 87px 6.5%;
		}
		.xs {
			display: block;
		}
		.z2 {
			z-index: 20;
		}
		
	}
	@media  (min-width: 961px) and (max-width: 1798px) {
		main {
			grid-template-columns: 74% 26% !important;
			
		}
		.navbar {
			padding: 15px 30px;
		}
		.papel {
			padding: 0 8.5% 50px 8.5%;
		}
		.strech {
			padding: 0 3% 49px 3%;
		}
		.printdetails {
			display: none;
		}
		
	}
	@media  (min-width: 1799px) {
		main {
			grid-template-columns: 65% 33% !important;
			align-content: center;
			height: 100vh;
			transform-style:preserve-3d;
			max-width: 1800px;
		}
		.printdetails {
			display: none;
		}
		.navbar {
			padding: 19px 6% 15px;
		}
		.papel {
			padding: 0 12.5%;
			
			
		}
		.columna{
		/* transform: rotateY(5deg) translateX(0); */
		align-self: center;
		height: 105vh;
		padding: 3% 0 6% 0;
		width: 100%;
		justify-self: right;
		/* justify-content: center; */
		/* border: 1px solid  red; */
		}
		.columnb{
			height: 145vh;
			/* transform: rotateY(-7deg) translateX(-5%) ; */
		/* scale: 0.8; */
		}
		.detalles{
			align-self: center;
			height: 100vh;
		}
		.items{
			padding: 105px 12.5% 40px 6.5%;
		}
		.footer{
			padding: 50px 22px 30px 7%;

		}
	}
	.hidden {
		display: none;
	}
	@media print{
		@page {
			size:auto;
			margin:auto;
		}
		* {
		box-sizing: border-box;
		}
		html {
			background-color: #ffffff;
		}
		main {
			height: auto;
			width: 100%;
			min-height: auto;
			max-height: auto;
			overflow: auto;
			display: block;
			flex-direction: column;
		}
		.columna{
			height: fit-content;
			background-color: #ffffff;
		}
		.papel {
			padding: 0px 6% 0px 6%;
			height: auto;
			min-height: auto;
			max-height: auto;
			overflow: hidden;
			display: block;
			
		}
		.printdetails {
			width: fit-content;
			padding: 15px 0;
			display: grid;
			grid-template-columns: auto auto auto;
			column-gap: 35px;
			height: fit-content;
		}
		.title-papel{
			height: auto;
			display: block;
		}
		.cachetxt-papel{
			height: auto;
			display: block;
		}
		.start1 {
			height: fit-content;
			display: block;
		}
		.cachetxt-papel {
			height: fit-content;
			display: block;
		}
		.title {
			padding-bottom: 30px;
		}
		.navbar {
			padding-bottom: 0;
			padding-top: 10px;
		}
		.columnb {
			display: none;
		}
		.container {
			width: 100%;
			height: fit-content;
			background-color: #e7e7e7;
		}
		.img-internet{
			width: 100%;
			height: auto;
		}
		.hidden-details {
			display: none;
		}
		.hidden-pdf {
			display: none;
		}
		.print-block {
			display: block;
		}
		.print-visibility {
			opacity: 1;
			display: block;
		}
		.print-invisibility {
			opacity: 0;
			display: none;
		}
		.footer{
			display: none;
		}
	}
</style>